.anime {
    position: relative;
    isolation: isolate;
    width: 22.5rem;
    & > &_title {
        margin: 0;
        font-size: 1.4rem;
        padding: 1rem 0.5rem;
        position: absolute;
        inset: 0;
        top: auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    }
}
